//main: style.less
/*color*/
@black: #000000;
@white: #ffffff;
@orange: #f5c702;
@red: #ed3131;
@gray-l:#f5f5f5;
@gray-b: #282724;

/*fonts*/
@raleway: 'Raleway', sans-serif;

/*media brackpoint*/
@mobile-sm: ~"(max-width:570px)";
@mobile: ~"(max-width:767px)";
@tablet: ~"(max-width:991px)";
@notebook: ~"(max-width:1199px)";
@lcd: ~"(max-width:1399px)";
/*media height brackpoint*/
@notebook-h: ~"(max-height:790px)";
@mobile-h: ~"(max-height: 620px)";