//main: ../style.less
.intro__bg {
  width: 100%;
  height: 36rem;
  background: url(../../img/intro/bg.png) no-repeat center;
  position: relative;
}
.auto {
  position: absolute;
  left: calc(50% - 440px);
  bottom: 50px;
}
.intro__title {
  position: absolute;
  left: calc(50% - 550px);
  bottom: 50px;
  h1 {
    color: @white;
    line-height: 0.6;
    font-size: 2.7rem;
  }
}
