//main: ../style.less
.nav__bg{
  width: 100%;
  height: 4rem;
  background-color: @gray-b;
  display: flex;
  align-items: center;
}
#nav{
  display: flex;
  justify-content: space-around;
}
.nav__link{
  font-size: 1.2rem;
  color: @white;
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  &:hover{
    color: @orange;
  }
}